.main {
    margin: auto;
    display: flex;
    max-width: 100%;
    color: black;
    margin-bottom: 50px;
    justify-content: left;
    /* background-color: #fdb0fe; */
    border-radius: 0px 0px 5px 5px;

  }
  .maintwo {
    margin: auto;
    /* display: flex; */
    max-width: 100%;
    color: rgb(216, 0, 0);
    margin-bottom: 50px;
    justify-content: flex-end;
    /* background-color: #fdb0fe; */
    border-radius: 0px 0px 5px 5px;
  }
  .main div {
    margin: 25px;
    cursor: pointer;
  }
  .main div:hover {
    color: rgb(168, 168, 168);
  }

  




  .app {
    display: flex;
    align-items: center;
    padding-top: 10%;
    justify-content: center;
  }






  .body {
    box-sizing: border-box;
  }
  
  #page-wrap {
    padding-bottom: 10px;
    padding-top: 10px;
  }
  